body,
input,
textarea,
button,
select {
  font-size: $font-size-base;
  font-family: $font-stack-body;
  color: $color-body-text;
  font-weight: $font-weight-light;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  line-height: 1.4;
  text-transform: none;
  font-weight: $font-weight-normal;
  margin: 0 0 ($gutter / 2);

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
  }
}

h1 {
  font-size: 41px;
  line-height: 49px;
  text-transform: uppercase;
  font-weight: $font-weight-black;
  margin-bottom: $gutter;

  @media #{$smaller-down}{
    font-size: 30px;  
  }
}


h2 {
  font-size: 41px;
  line-height: 49px;
  text-transform: uppercase;
  font-weight: $font-weight-black;
  margin-bottom: $gutter;
  @media #{$smaller-down}{
    font-size: 30px;
    line-height: 41px;  
  }
}

h3 {
  font-size: 41px;
  line-height: 45px;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: $font-weight-black;
  // letter-spacing: 4px;
}

h5 {
  font-size: 16px;
  font-weight: $font-weight-black;
  text-transform: uppercase;
  letter-spacing:2px;
}

h6 {
  font-size: 11px;
  font-weight: $font-weight-black;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.section-header{
	@include grid-row();
	margin-bottom: 80px;
  @media #{$smaller-down}{
    margin-bottom: 50px;
  }
	h3{
		@include grid-column(6);
		text-align: right;
		font-weight: 900;
		position: relative;
		z-index:5;
    @media #{$smaller-down}{
        @include grid-column(12);
        text-align: center;
    }
		&::after{
			content:'';
			display:block;
			position: absolute;
			top:-12px;
			right:-56px;
			height:120px;
			width:120px;
			background-color: rgba($brand-gold, 0.2);
			border-radius: 10px;
			transform:rotate(45deg);
			z-index:-1;
      @media #{$smaller-down}{
        right:41%;
        top:-14px;
      }
		}
	}
	.header-sub{
		@include grid-column(6);
		text-align: left;
		line-height: 30px;
		font-weight: 500;
    @media #{$smaller-down}{
      @include grid-column(12);
      text-align: center;

    }
	}
}

/*================ Paragraph styles ================*/
p,
ul,
ol {
  margin: 0;
  padding:0;
}

p:last-child {
  margin-bottom: 0;
}
p.sub-head{
	font-size: 22px;
	font-weight: 400;

	@media #{$smaller-down}{
		font-size: 18px;
	}
}
p.sub-title{
  font-size: 30px;
  font-weight: 400;
  &::after{
    content:'.';
    color: $brand-gold;
    font-size: 60px;
    line-height: 0px;
    padding-left: 1px;
  }

  @media #{$smaller-down}{
    font-size: 20px;
  }
}
// Default site weight is 300 (light)
.text-weight-normal {
  font-weight: $font-weight-normal;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: inherit;
 }