$black: #393939;   
$blue: #2398DC;
$light-blue: #7ECAEB;
$green: #60BEA8;     
$white: #fff; 
$pink: #E75C78;
$grey: #eee;
$bg-grey: #F7F7F7;
$text-grey: #838383;
$max-width: 1170px;

$footer: #252525;
$footer-lines: #2A2A2A;
$footer-bottom: #222222;

$font-size-base: 20px;
$font-stack-body: 'Lato';
$color-body-text: $black;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-black: 900;

$gutter: 10px;