#services-cms{
	.services-cms-wrapper{
		background: $bg-grey;
	}
	@include hero-small;

	.hero-wrapper{
		background: linear-gradient(
		  rgba(23, 80, 71, 0.8), 
		  rgba(53, 222, 195, 0.8)
		), url(../assets/images/contact-bg.jpg);
		background-size:cover;
    	background-position: center center;
	}
	.services-item-wrapper{
		@include grid-row();
	}
	.services-item{
		@include grid-column(3);
		text-align: center;
		@media #{$small-down}{
			@include grid-column(12);
		}
	}
	.services-item-img{
		object{
			width: 70%;
			height: 200px;
		}
	}
}