.home-services-wrapper{
	.home-services-content{
		//@include grid-row();
		padding: 80px 0;
	}
	.section-header{
		//@include grid-row();
	}
	.services-item-wrapper{
		@include grid-row($behavior: nest);
	}
	.services-item{
		@include grid-column(3);
		text-align: center;
		@media #{$smaller-down}{
			@include grid-column(6);
		}
	}
	.services-item-img{
		object{
			max-width: 100%;
			max-height: 200px;
		}
	}

} //home-services-wrapper