.home-work-wrapper{
		background: $bg-grey;
		padding-bottom:80px;
	.home-work-content{
		padding: 80px 0 20px 0;
		@include grid-row();
	}
	.highlights-gallery{
		width:100%;
		margin-botom:0;
		.gallery-item{
			max-width:500px;
		}
		.slick-track{
			display: flex;
			align-items: center;
			justify-content:center;
		}
		img{
			width:100%
		}
	}
}
