#contact-cms{
	@include hero-small;

	.hero-wrapper{
		background: linear-gradient(
		  rgba(23, 80, 71, 0.8), 
		  rgba(53, 222, 195, 0.8)
		), url(../assets/images/contact-bg.jpg);
		background-size:cover;
    	background-position: center center;
	}

	.contact{
		background: $bg-grey;
		input, textarea{
			border: 1px solid $border-color;
			background-color: $white;
			color: $black;
		    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
		    margin-bottom: 20px;
		    &::placeholder{
		    	color: $text-grey;
		   		text-shadow: 1px 1px 1px rgba(0,0,0,.1);
		    }
		}
	}
}